<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registro de Visitas</title>
</head>

<body>
    <!-- firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
  <!-- script -->
  <script src="../js/credenciales.js"></script>
  <script src="../js/data.js"></script>
  <script src="../js/app.js"></script>
</body>

</html>
